#error-list-div{
overflow:scroll;
color:brown;
width:480px;
height:300px;
}

#node-validate-result a{
  text-decoration: underline;
  color:blue;
  cursor:pointer;
}

table#errTable tr td:first-child {
  border-left: 0px solid #e5e5e5;
  text-align: center;
}

table#errTable tr td:last-child {
  border-right: 0px solid #e5e5e5;
}
table#errTable tr:nth-of-type(odd) {
  background-color: #FFF0F0;
}

table#errTable  tr td {
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-color: #fff;
  text-align: center;
  font-size: 1.0em;
}

#sli-values-div{
overflow:auto;
color:blue;
width:850px;
height:600px;
}

#sli-values-div input[type="text"] {
  padding: 1px;
  border: solid 1px grey;
  /*border: solid 1px #dcdcdc;*/
  width:800px;
  transition: box-shadow 0.3s, border 0.3s;
  box-shadow: 0 0 5px 1px #969696;
  cursor:pointer;
}

.valueBoxDiv {
  border-width: 1px 2px 1px 1px;
  border-style: solid;
  /*border-color: #9999FF;*/
  border-color: grey;
  /*border-color: #fff;*/
  font-size: 1.0em;
   border-left: 1px solid #fff;
   border-right: 1px solid #fff;
   border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
 padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*background-color:#FFE6E6;*/
  background-color:#fff;
}

/*#sli-values-div input[type="text"]:focus,

#sli-values-div input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
*/
/*
#getFixed {
  color: #c00;
  font: bold 15px arial;
  padding: 10px;
  margin: 10px;
  border: 1px solid #c00;
  width: 200px;
}
*/
